@use '../../style/colors';
@use '../../style/mixins' as *;

.home {
    flex: 1;
    display: flex;

    &__summary {
        @include size(100%);
        padding: max(20px, 2%) max(20px, 5%);
        display: grid;
        grid-template-rows: minmax(auto, 132px) minmax(auto, 320px) minmax(auto, 263px);
        grid-template-columns: repeat(4, minmax(auto, 258px));
        gap: 40px 30px;

        .greetings {
            grid-column: 1/-1;
        }

        .daily-activity {
            grid-column: span 3;
        }

        .nutrition {
            grid-row: span 2;
        }
    }
}

.error {
    margin: auto;
    color: colors.$text-dark;
    font-size: 48px;
}
