$bg-darker: rgb(2, 2, 3);
$bg-dark: rgb(40, 45, 48);
$bg-light: rgb(251, 251, 251);
$bg-lighter: rgb(255, 255, 255);

$primary: rgb(255, 0, 2);
$secondary: rgb(230, 0, 1);

$text-darker: rgb(0, 0, 0);
$text-dark: rgb(40, 45, 48);
$text-light: rgb(116, 121, 140);
$text-lighter: rgb(155, 158, 172);
$text-lightest: rgb(255, 255, 255);

$blue: rgb(73, 184, 255);
$pink: rgb(253, 81, 129);
$red: rgb(255, 0, 0);
$yellow: rgb(252, 204, 14);

$blue-faded: rgb(233, 244, 251);
$pink-faded: rgb(251, 234, 239);
$red-faded: rgb(251, 234, 235);
$yellox-faded: rgb(251, 246, 229);
