@use '../../style/colors';
@use '../../style/placeholders';

.header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 40px;
    background-color: colors.$bg-darker;

    &__logo {
        width: 20%;
        min-width: fit-content;
        display: flex;
        align-items: center;
        gap: 10px;

        &-title {
            color: colors.$primary;
            font-size: 24px;
            font-weight: 500;
        }
    }
}
