@use '../../style/colors';
@use '../../style/placeholders';

.navbar {
    display: contents;

    &__list {
        display: contents;
        color: colors.$text-lightest;
        font-size: 24px;
        font-weight: 500;
    }
}
